// iconfont
// @import "iconfont/iconfont.css";
// config
@import "config";
// variables
@import "variables";
//layout
@import "reboot";
//mixin
@import "mixin";
// animation
@import "animation";
// flex
@import "flex";
// each
@import "each";
// border
@import "border";
// popup
@import "../components/Popup/style";
// button
@import "../components/Button/style";
// loading
@import "../components/Loading/style";
// overlay
@import "../components/Overlay/style";
// load - more
@import "../components/LoadMore/style";
// back - top
@import "../components/BackTop/style";
// Toast
@import "../components/Toast/style";
// Tab
@import "../components/Tab/style";
// Image
@import "../components/Image/style";
// Badge
@import "../components/Badge/style";
// TextAlign
@import "../components/TextAlign/style";
// Switch
@import "../components/Switch/style";
// Icon
@import "../components/Icon/style";
// Checkbox
@import "../components/Checkbox/style";
// Cell
@import "../components/Cell/style";
// Cascader
@import "../components/Cascader/style";

.find_nav {
  width: 100%;
  height: 44px;
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid #ddd;
  display: -moz-box;
  display: -webkit-box;

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .find_nav_left {
    height: 44px;
    position: relative;
    overflow: hidden;
    box-flex: 1;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
  }

  .find_nav_list {
    position: absolute;
    left: 0;

    ul {
      position: relative;
      white-space: nowrap;
      font-size: 0;

      li {
        display: inline-block;
        padding: 0;

        span {
          padding: 0 10px;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 44px;
          font-size: 14px;
          text-align: center;
          color: #666;
        }
      }
    }
  }
}

.van-doc-demo-block__title {
  margin: 0;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  color: rgba(69, 90, 100, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.App {



  .sw-btn {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .p-tb-30 .flex-ai-center {
    margin-bottom: 16px;
  }


}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .block {
    width: 120px;
    height: 120px;
    background-color: #fff;
  }
}


// // menu
// @import "../components/Menu/style";

// // icon
// @import "../components/Icon/style";

// //input
// @import "../components/Input/style";

// //auto-complete
// @import "../components/AutoComplete/style";

// //upload
// @import "../components/Upload/style";

// //progress
// @import "../components/Progress/style";