.sw-image {
  position: relative;

  .sw-image-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend .flex-column-center;
    color: #969799;
    background-color: #f7f8fa;
    z-index: 1;


  }

  .sw-image-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #969799;
    background-color: #f7f8fa;
    @extend .flex-column-center;
    z-index: 2;

    span {
      font-size: 12px;
    }
  }

  .sw-image-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}